<table>
    <tbody>
        <tr>
            <th colspan="2">xxxxxxxxxx Features</th>
        </tr>
        <tr>
            <th style="text-align: center;">Bard Level</th>
            <th style="text-align: left;">Features</th>
        </tr>
        <tr>
            <td style="text-align: center;">3rd</td>
            <td>xxxxxxxxxxxxxx</td>
        </tr>
        <tr>
            <td style="text-align: center;">6th</td>
            <td>xxxxxxxxxxxxxx</td>
        </tr>
        <tr>
            <td style="text-align: center;">14th</td>
            <td>xxxxxxxxxxxxxx</td>
        </tr>
    </tbody>
</table>
