<table>
    <tbody>
        <tr>
            <th colspan="2">xxxxxxxxxx Features</th>
        </tr>
        <tr>
            <th style="text-align: center;">Ranger Level</th>
            <th style="text-align: left;">Features</th>
        </tr>
        <tr>
            <td style="text-align: center;">3rd</td>
            <td>xxxxxxxxxx, xxxxxxxxxx</td>
        </tr>
        <tr>
            <td style="text-align: center;">5th</td>
            <td>xxxxxxxxxx</td>
        </tr>
        <tr>
            <td style="text-align: center;">7th</td>
            <td>xxxxxxxxxx</td>
        </tr>
        <tr>
            <td style="text-align: center;">11th</td>
            <td>xxxxxxxxxx</td>
        </tr>
        <tr>
            <td style="text-align: center;">15th</td>
            <td>xxxxxxxxxx</td>
        </tr>
    </tbody>
</table>
